<html xmlns:py="http://genshi.edgewall.org/" xmlns:xi="http://www.w3.org/2001/XInclude" py:strip="">

<head>
 <meta name="Description" content="Information architecture, Web Design, Web Standards." />
 <meta name="Keywords" content="your, keywords" />
 <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
 <meta name="Distribution" content="Global" />
 <meta name="Author" content="Erwin Aligam - ealigam@gmail.com" />
 <meta name="Robots" content="index,follow" />

 <link rel="stylesheet" href="/static/css/PixelGreen.css" type="text/css" />

 <title>FPyS Foto Purchase Site</title>
	
</head>

<body>
<!-- wrap starts here -->
<div id="wrap">

	<div id="header"><div id="header-content">	
		
		<h1 id="logo"><a href="/" title="">FP<span class="gray">e</span>S</a></h1>	
		<h2 id="slogan">FPyS Photo example Site<br/>		
		Python and Amazon FPS Playing Nice, an Example</h2>		
		
		<!-- Menu Tabs -->
		<ul>
			<li><a href="index">Demo Home</a></li>
			<li><a href="cart">My Cart</a></li>
			<li><a href="mine">My Photos</a></li>
			<li><a href="http://fpys.achievewith.us/project">FPyS Project</a></li>
		</ul>		
			
	
	</div></div>
	
	<div class="headerphoto"></div>
				
	<!-- content-wrap starts here -->
	<div id="content-wrap"><div id="content">		
		
		<div id="sidebar" >
		
			<div class="sidebox">			
				<h1>What are You Doing?</h1>
				
				<p>You're here because you want to see a real live
				application written in Python and interacting with the
				Amazon Flexible Payment Service via the FPyS
				library.  You probably want to download the source.</p>

                <p>If you are here for any other reason, you are
                probably in the wrong place.</p>
			</div>			

			<div class="sidebox">			
				<h1>How Does it Work?</h1>
				
				<p>This demo lets you "buy" the ability to view full
				sized versions of the thumbnails to the left.  Of
				course, this demo is wired to the Amazon FPS Sandbox,
				so no money actually changes hands, even if you do
				complete an order.  Heck, the full size images aren't
				even really protected.  It's all a charade in the name
				of education.</p>

			</div>			

			<div class="sidebox">
				<h1 class="clear">Helpful Links</h1>
				<ul class="sidemenu">
					<li><a href="http://fpys.achievewith.us/project" class="top">FPyS</a></li>
					<li><a href="http://www.amazon.com/b?ie=UTF8&amp;node=342430011">Amazon FPS</a></li>
					<li><a href="http://turbogears.org">TurboGears</a></li>
				</ul>					
			</div>	
									
			<div class="sidebox">
				<h1>About the Template</h1>

				<p>Don't be fooled.  The guy who wrote this demo can
				code, but he can't style.  The template was created by
				<a href="http://www.styleshout.com/">Styleshout</a>
				and found
				on <a href="http://www.openwebdesign.org/">Open Web
				Design</a>.</p>
			</div>
		</div>	
	
		<div id="main">		
            <content>Default Content</content>		
        </div>
	<!-- content-wrap ends here -->		
	</div></div>

<!-- footer starts here -->	
<div id="footer"><div id="footer-content">
	
		<div class="col float-left">
		</div>
		
		<div class="col float-left">
		</div>		
	
		<div class="col2 float-right">
		<p>
		&copy; 2007 <strong><a href="http://achievewith.us">Digital Achievement</a></strong><br />
        Code is MIT Licensed and <a href="http://fpys.achievewith.us/project">Available</a><br />
		OWD Design by: <a href="http://www.styleshout.com/"><strong>styleshout</strong></a> &nbsp; &nbsp;
		</p>
		</div>
	
</div></div>
<!-- footer ends here -->
	
<!-- wrap ends here -->
</div>

</body>
</html>
